* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #fff;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  background: rgb(34, 28, 28);
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

button {
  border: none;
  &:focus-visible {
    outline: none;
  }
}
input {
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #25262c inset;
    -webkit-text-fill-color: #fff;
  }
}
