* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  background: rgb(34, 28, 28);
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

button {
  border: none;
  &:focus-visible {
    outline: none;
  }
}
input {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #25262c inset;
    -webkit-text-fill-color: #fff;
  }
}

.ellipsis-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 定义文本的行数 */
  overflow: hidden;
  text-overflow: ellipsis;
}
